<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>About us</title>
</head>
<body>

    <a href="/">Home</a>
    <a href="/works">Our works</a>
    <a href="/gallery">Photo-gallery</a>

    <p>Año 2063:



        "Habiendo llegado al final de mi vida de pobre pecador, con el pelo ya canoso, me dispongo a dejar constancia sobre este pergamino de los hechos asombrosos y terribles que me fue dado presenciar en mi juventud, hacia mediados del año de 2022. Que la verdad me conceda sabiduría y gracia para ser fiel narrador de los sucesos que tuvieron lugar en una remota ciudad en el sur de América. Una ciudad, cuyo nombre, parece ahora más piadoso y prudente, omitir".
        
        Ahora, que se me permite la ocasión de escribir estas palabras, dejo constancia a las pocas y futuras generaciones de lo acontecido en aquellos años, cuando la empresa IronCat cambió el destino y la historia de la humanidad. Por aquellos años, aquella malvada corporación, a través de uno de sus mejores programadores establecido en B..., había diseñado y programado lo que un principio parecían adorables máquinas para niños o de dulce compañía para solitarios y enfermos terminales.
        
        El señor H. había diseñado y programado exoesqueletos que funcionaban a través de neurotrasmisores. Su objetivo era hacer que los animales, en una primera estancia los gatos, realizaran tareas complejas que pudieran ayudar a los humanos a hacer sus vidas más fáciles. Los prototipos comenzaron con pequeños diseños que pudieran permitirle al animal jugar con los niños al football o fungiendo como centinelas ante la ausencia u ocupación de los padres. En los primeros dos años hubo algunos modelos. Todo el mundo quería tener a su mascota bajo el regimen del Ipsa Natura.
        
        Sin embargo, los altos costos de los diseños obligaron a IronCat a buscar mejores formas de producción y más financiamiento. Fue ahí cuando todo cambió. El bloque asiático se interesó en la tecnología del Ipsa Natura con fines científicos de exploración marítima y espacial, sobre todo en la terraformación de nuevos planetas. Estados Unidos, con tal de no ver sus interéses obstaculizados, obligó al señor H. a trabajar con una espía de la división cientifíca militar de IronCat, la señorita ingeniera Y. Juntos diseñaron un nuevo modelo, el Zeus Ipsa Natura - APJ08, programado únicamente como un arma de destrucción sin compación alguna. Rápido, letal y adorable. Modelo al que obligaron a desobedecer las leyes de Asimov.
        
        Los primeros diseños militares se hicieron en masa. Rápido, y sin tener en cuenta los posibles daños del software que el señor H. había advertido. Afortunadamente solo se soltaron las primeras 30 unidades del Zeus Ipsa Natura - APJ08 sobre una pequeña ciudad de China. Los resultados fueron asombrosos para la empresa y el gobierno estadounidense: 800 muertos en dos meses. Nadie, sobre aquella desgraciada ciudad, sabía qué pasaba. Los cuerpos víctimas del primer modelo militar eran encontrados bajo condiciones extrañas. Parecían haber sido atravesados por algún arma que hacia una fina circunferencia del tamaño de un melón sobre sus estómagos y pechos.
        
        Entristecido por lo que se convirtió su invento, el señor H. notificó al gobierno de China sobre lo ocurrido. Y así comenzó la guerra. Aquel evento duró 5 años. La rápidez de los sucesos impidió al gobierno estadounidense y a IronCat fabricar y utilizar más modelos del Zeus Ipsa Natura. Con un resultado de 30 millones de muertos, parecía que la guerra iba a poner fin a aquellas continuas desgracias. Sin embargo, lo peor estaba por comenzar. El señor H., tras el comienzo del conflicto, desapareció, quedando toda su tecnología en manos de la señorita Y. Ya para el año 2033, los modelos del Zeus Ipsa Natura - APJ08 se "mejoraron", lanzando aquella corporación el modelo Lazarus gehennae - XIX. El modelo que por voluntad propia acabaría en menos de 30 años con casi toda la humanidad.
        
        Mis lectores tendrán que disculpar mi abrupta salida, pero acaba de zonar la alarma, y eso solo significa una cosa...</p>

<br>
<br>
<br>

        <img class="michi" src="/img/michirobot.jpeg" alt="">

</body>
</html>