<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Ironcat</title>
</head>
<body>
    <h1>Ironcat</h1>
    <a href="/about">About us</a>
    <a href="/works">Our works</a>
    <a href="/gallery">Photo-gallery</a>

<p><b>Ironcat</b> es un videojueg diseñado por Samuel Ignacio Magaña Fuentes durante el módulo 1 del bootcamp de <b>Ironhack.</b></p>

    <img class="ironcatImg" src="/img/Captura de Pantalla 2022-06-28 a la(s) 20.19.27.png" alt="">
</body>
</html>