<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Works</title>
</head>
<body>

    <a href="/">Home</a>
    <a href="/about">About us</a>
    <a href="/gallery">Photo-gallery</a>

    <p>¡Bienvenido, guerrero!


        Has sido seleccionado por ser uno de los mejores soldados de la casi extinta humanidad. Tu tarea es sencilla: ¡Acaba con esos michis!
        
        Tienes que destruir a 15 de esos infernales michis para abrir paso a los refugiados. Sin embargo, debes tener en cuenta que son extremadamente rápidos y letales, por lo cual tendrás que soltar disparos como si no hubiera un mañana. Para ello solo tendrás que hacer uso de la "barra espaciadora", y para moverte las "teclas flecha izquierda y derecha".
        
        Inteligencia pudo hackear un dron de la malvada corporación IronCat, el cual extrañamente no tiene forma de gato, sino de cabeza humana. Esto nos hace pensar que ya estaban trabajando en los prototipos humanoides de su tecnología del Zeus Ipsa Natura. El drón te llevará de vuelta al cuartel general (Main Menu) en caso de escape, pero eso no será necesario, ¿verdad? ¡Aquí no reclutamos gallinas!</p>
    
<br>
<br>
<br>

<img class="win" src="img/win.jpeg" alt="">

</body>
</html>